<i class="wi wi-day-sunny"></i><br>
<i class="wi wi-owm-day-801"></i><i class="wi wi-celsius"></i>
<div><img src="http://openweathermap.org/img/w/02n.png" style="width:200px"></div>
<%= link_to "What?", {controller: "home", action: "intro"}, class: 'btn btn-white btn-ghost',id: 'home-btn-how' %>
<%= link_to "START", {controller: "home", action: "intro"}, class: 'btn btn-white btn-ghost',id: 'home-btn-start' %>
