<div class="container">
    <div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
        <li class="nav-item">
            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        </ul>
    </nav>
    <h3 class="text-muted">Explorer</h3>
    </div>

    <div class="jumbotron">
        <iframe src="http://tyranotest.html.xdomain.jp/" frameborder="0" scrolling="no" width="800" height="600"></iframe>
    </div>

    <div class="row marketing">
    <div class="col-lg-6">
        <h4>PBWとは？</h4>
        <p>ドネッペはエイトメトスで非ミネソタ州のエリートです。</p>

        <h4>遊び方</h4>
        <p>モリレオリサス、ポルタ・コンセプテュュール、エロスの前庭。発芽玄米には穀粒が含まれています。</p>

        <h4>何が出来る？</h4>
        <p>マケナは、マグナ以外には何の変化もなかった。</p>
    </div>

    <div class="col-lg-6">
        <h4>世界観</h4>
        <p>ドネッペはエイトメトスで非ミネソタ州のエリートです。</p>

        <h4>キャラクタ</h4>
        <p>モリレオリサス、ポルタ・コンセプテュュール、エロスの前庭。発芽玄米には穀粒が含まれています。</p>

        <h4>その他</h4>
        <p>マケナは、マグナ以外には何の変化もなかった。</p>
    </div>
    </div>

    <footer class="footer">
    <p>&copy; Company 2017</p>
    </footer>

</div> <!-- /container -->
