<p>Hello <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクをリクエストしました。あなたは下のリンクからこれを行うことができます。</p>

<p><%= link_to '新規パスワードを発行する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更をリクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません。</p>
